body {
  margin: 0;
  background-color: #FF7518;
  font-family: "Playfair Display", system-ui;
  font-size: 1.1rem;
}

.header {
  background-color: #1a1a1a;
  padding: 1rem;
  font-family: "Mystery Quest", system-ui;
}
.nav .MANHIMSELF{
    margin: 0 auto;
    font-size: 1.4rem;
    font-weight: bold;
}
.nav .MANHIMSELF:hover{
    margin: 0 auto;
    font-size: 1.6rem;
    font-weight: bold;
}
.nav{
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-right: 1rem;
}

.nav a {
  color: #FF7518;
  text-decoration: none;
  font-size: 1.2rem;
}

.nav a:hover {
  text-decoration: underline;
  font-size: 1.4rem;
}
.biyo{
    margin-top: 2vh;
    margin-left: 2vh;
    display: flex;
    justify-content: flex-start;
}
.biyo .biyoamatext{
    background-color: #FF8C42;
    padding: 0 2vh 0 2vh;
    line-height: 1.5rem;
}
.birinciresimanasayfa
{
    width: 28vw;
    height: 60vh;
}
.ikinciresimanasayfa
{
    width: 60vw;
    height: 70vh;
}
.birinciresimfahren
{
    width: 18vw;
    border: 1px solid brown;
    box-shadow: 0 8px 16px black;
    height: auto;
}
.main figcaption
{
    font-size: 0.6rem;
}
.comment
{
  font-style: italic;
  font-size: 1.0rem;
}
.kitaplar
{
  list-style-type: none;
  padding: 0.5vw 1vw;
}
.foot
{
  background-color: #1a1a1a;
  margin-top: 1rem;
  padding: 1rem 0;
}
hr
{
  height: 0.3rem;
  background-color: #1a1a1a;
  box-shadow: 0 1px 1px black;
}
blockquote
{
  font-family: 'Merriweather', system-ui;
  color: rgb(21, 14, 128);
}
.reklam
{
  font-size: 1rem;
}
.soru
{
  margin-left: 1rem;
}
.cevap
{
  margin-left: 1rem;
}