body {
  margin: 0;
  background-color: #FF7518;
}

.header {
  background-color: #1a1a1a;
  padding: 1rem;
  font-family: "Mystery Quest", system-ui;
}
.navigasyon .MANHIMSELF{
    margin-right: 6rem;
    font-size: 1.5rem;
    font-weight: bold;
}
.navigasyon{
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.navigasyon a {
  color: #FF7518;
  text-decoration: none;
  font-size: 1.2rem;
}

.navigasyon a:hover {
  text-decoration: underline;
}
