body {
  margin: 0;
  background-color: #FF7518;
  font-family: "Playfair Display", system-ui;
  font-size: 1.1rem;
}

.header {
  background-color: #1a1a1a;
  padding: 1rem;
  font-family: "Mystery Quest", system-ui;
}
.navigasyon .MANHIMSELF{
    margin: 0 auto;
    font-size: 1.5rem;
    font-weight: bold;
}
.navigasyon .MANHIMSELF:hover{
    margin: 0 auto;
    font-size: 1.7rem;
    font-weight: bold;
}
.nav{
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.nav a {
  color: #FF7518;
  text-decoration: none;
  font-size: 1.2rem;
}

.nav a:hover {
  text-decoration: underline;
  font-size: 1.4rem;
}
.biyo{
    margin-top: 2vh;
    display: flex;
    justify-content: flex-start;
}
.biyo .biyoamatext{
    background-color: #FF8C42;
    padding: 0 2vh 0 2vh;
    line-height: 1.5rem;
}
.main img
{
    width: 28vw;
    height: 60vh;
}
.main figcaption
{
    font-size: 0.6rem;
}
.comment
{
  font-style: italic;
  font-size: 1.0rem;
}
.kitaplar
{
  list-style-type: none;
  padding: 0.5vw 1vw;
}